* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", monospace;
}

body.safari * {
  font-family: "Arial"; /* Use Lucida Sans for Safari */
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 128px;
  padding-right: 128px;
}
@media (max-width: 1024px) {
  .container {
    padding-left: 64px;
    padding-right: 64px;
  }
}
@media (max-width: 767px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #FFF;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: #12002F;
  padding-top: 120px;
  transition: 0.4s;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: #1f103F;
  color: #FFF;
  text-decoration: none;
}

.mobile-nav a:hover {
  background-color: #24104f;
}

@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
  .hamburger {
    display: none;
  }
}
section h2 {
  text-align: center;
  margin-bottom: 32px;
  text-transform: uppercase;
  color: #313131;
  font-size: 36px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #FFF;
  transition: color 0.2s ease-out 0.2s;
}

a:hover {
  color: #ffed9f !important;
  transition: 0.3s ease-in;
}

header {
  color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: rgba(18, 0, 47, 0.6823529412);
}
header .container {
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}
header .container h2 {
  color: inherit;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
  padding: 6px;
  padding-right: 12px;
}
header .container nav {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(4, auto);
}
@media (max-width: 767px) {
  header .container nav {
    display: none;
  }
}
header .container nav a {
  color: inherit;
  font-size: 20px;
  text-decoration: none;
}

main section.banner {
  color: #FFF;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/bg.jpg");
  background-position: top right;
  background-size: cover;
}
main section.banner:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: #12002F;
  opacity: 0.8;
}
main section.banner .container {
  position: relative;
  z-index: 1;
}
main section.banner .container span {
  color: #ffed9f;
}
main section.banner .container h1 {
  font-size: 72px;
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  main section.banner .container h1 {
    font-size: 32px;
  }
}
main section.banner .container h3 {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  main section.banner .container h3 {
    font-size: 20px;
  }
}
main .container-about {
  background-image: radial-gradient(circle, #f8f1ce, #000);
  background-repeat: no-repeat;
}
main .container-about h3 {
  text-align: center;
  padding-bottom: 20px;
}
main .container-about h4 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-style: italic;
}
@media (max-width: 767px) {
  main .container-about h2 {
    color: #ffed9f;
  }
  main .container-about h4 {
    color: #f8f1ce;
  }
}
main .container-about .container {
  padding-top: 64px;
  padding-bottom: 64px;
}
main .container-about .container .container-about-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
}
@media (max-width: 1024px) {
  main .container-about .container .container-about-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  main .container-about .container .container-about-grid {
    grid-template-columns: 1fr;
  }
}
main .container-about .container .container-about-grid .about {
  background-image: linear-gradient(180deg, white, #f8f1ce);
  background-image: no-repeat;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3568627451);
}
main .container-about .container .container-about-grid .about .img-box {
  display: block;
  width: 100%;
  border-bottom: 5px solid #ffed9f;
}
main .container-about .container .container-about-grid .about .img-box .img {
  display: block;
  width: 100%;
  height: 128px;
  object-fit: cover;
}
main .container-about .container .container-about-grid .about .content {
  padding: 16px;
}
main .container-about .container .container-about-grid .about .content span {
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
}
main .container-alliance {
  background-image: radial-gradient(circle, rgba(18, 0, 47, 0.6823529412), #000);
  background-repeat: no-repeat;
  height: 600px;
}
main .container-alliance .container {
  padding-top: 200px;
  padding-bottom: 64px;
}
main .container-alliance .container h2 {
  color: #FFF;
}
main .container-alliance .container .container-alliance-grid {
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  justify-content: center !important;
  /* Center horizontally */
  align-items: center !important;
  /* Center vertically */
}
@media (max-width: 1024px) {
  main .container-alliance .container .container-alliance-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  main .container-alliance .container .container-alliance-grid {
    grid-template-columns: 1fr;
  }
}
main .container-alliance .container .container-alliance-grid .alliance {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 6px 12px rgba(255, 237, 159, 0.1921568627);
  display: flex;
  flex-direction: column;
  width: 400px;
  color: #FFF;
}
main .container-alliance .container .container-alliance-grid .alliance .content {
  padding: 16px;
}
main .container-alliance .container .container-alliance-grid .alliance span {
  color: #ffed9f;
}
main .contact {
  background-image: linear-gradient(180deg, #f8f1ce, #000);
  background-repeat: no-repeat;
  border-top: 1px rgba(0, 0, 0, 0.4705882353);
  border-style: solid;
  height: 600px;
}
main .contact .container {
  padding-top: 200px;
  padding-bottom: 64px;
  text-align: center;
}
main .contact .container h2 {
  color: #FFF;
}
main .contact .container p {
  color: #FFF;
}

/*# sourceMappingURL=styles.css.map */
